@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Syne:wght@400;500;600;700;800&display=swap');
*{
    margin:0;
    padding:0;
}
h1, h2, h3, h4, h5, h6{
    font-family: syne;
}
.btn{
    padding: 15px 45px;
    background-color: #fd5526;
    font-family: syne;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #fd5526;
    transition: all 0.3s;
}
.btn:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fd5526;
    color: #fd5526;
}

/* Header Css Start from here*/

header{
    background-color: #000;
    padding: 25px 0px;
}
.container{
    width: 1200px;
    margin: auto;
}
.headSec{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    width: 40%;
}
.menuList{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menuList li{
    font-size: 15px;
    list-style-type: none;
    font-family: syne;
    text-transform: uppercase;
    transition: all 0.2s linear;
}
.menuList li:hover{
    color: #fd5526;
    cursor: pointer;
}
/* Header CSS end here */

/* Hero section CSS start from here */

.heroSec{
    background-color: #000;
    height: 600px;
    color: #fff;
    display: flex;
}
.heroSec h1{
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
}
/* Hero section CSS End here */

/* About section CSS start from here */
.about{
    height: 750px;
}
.about-container{
    height: 100%;
}
.cntArea{
    height: 100%;
    display: flex;
    align-items: center;
    

}
.leftcont{
    margin-right: 105px;
}
.leftcont h2{
        font-size: 50px;
        margin-bottom: 50px;
}
.leftcont p{
    font-size: 18px;
    font-family: syne;
    font-weight: 300;
    margin-bottom: 40px;
}

/* About section CSS end here */

/* Gallery section CSS start here */
.glrySec{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.btmimgs{
    display: flex;
    align-items: center;
    margin-top: -4px;    
}
.centerGlry {
    margin-top: 5px;
}
.rightGlry{
    display: flex;
    flex-direction: column;
}

/* Gallery section CSS end here */

/* Portfolio section CSS start here */
.prtfSec{
    width: 100%;
}
.prtf{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
}
.hAndP, .expLink{
    width: 50%;
}
.hAndP h2{
    font-size: 50px;
    margin-bottom: 50px;
}
.devider{
    position: relative;
}
.devider::before{
    content: "";
    position: absolute;
    width: 160px;
    height: 2px;
    background-color: #fd5526;
}
.hAndP p{
    font-size: 18px;
    font-family: syne;
    font-weight: 300;
    margin-top: 90px;
}
.expLink{
    font-size: 50px;
    font-family: syne;
    font-weight: 700;
    margin-left: 100px;
}
.eLink{
    margin-bottom: 60px;
}
.eLink a:hover{
    color: #fd5526;
}
.eLink a{
    color: #000;
    letter-spacing: 3px;
    transition: all 0.3s;
}
.eLink i{
    margin-left: 25px;
}
.prtfImg img{
    border: 2px solid #000;
}
.prtfImg img:nth-child(2){
    margin: 0px 10px;
}
/* Portfolio section CSS end here */

/* Awards & Recognitions CSS start here */
.awards{
    height: 500px;
    padding: 120px 0px;
}
.sectionHeader h2{
    font-size: 50px;
    margin-bottom: 50px;
}
.allRow{
    padding: 25px 0px;
    font-family: syne;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #000;
}
.awrdName, .awrdYr{
    font-size: 19px;
    width: 20%;
}
.awrdNom{
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    width: 40%;
}

/* Awards & Recognitions CSS end here */

/* Testimonial CSS start here */
.testimnl{
    background-color: #000;
    color: #fff;
    height: 600px;
}
.iconDiv{
    background-color: #fd5526;
    padding: 35px;
    height: 130px;
    display: flex;
    align-items: end;
}
.iconDiv i{
    font-size: 60px;
}
.contDiv{
    display: flex;
}
.testcont{
    margin-left: 10%;
    padding: 150px 0px;
}
.testcont h1 {
    font-size: 42px;
    margin-bottom: 50px;
}
.testcont h4, small{
    text-align: right;
    display: block;
    margin-bottom: 10px;
}

/* Testimonial CSS end here */

/* single image CSS start here */
.singleImage{
    overflow: hidden;
}
/* Single image CSS end here */